<div class="view message-list" #listRef>
  <table>
    <tr
      *ngFor="let item of list; let i = index"
      [class.myself]="item.author === myId && i % 2"
    >
      <td>
        <pre class="mes">{{ item.text }}</pre>
        <!-- <span class="mes">{{ item.text }}</span> -->
      </td>
    </tr>
  </table>
</div>

<div class="view send-message">
  <button (click)="send()" nz-button>
    <i nz-icon nzType="send" nzTheme="outline"></i>Send
  </button>
  <button (click)="clear()" nz-button>
    <i nz-icon nzType="clear" nzTheme="outline"></i>Clear
  </button>
  <br />
  <form>
    <textarea
      name="txt"
      placeholder="input text"
      [(ngModel)]="text"
      (keyup.enter)="send()"
      spellcheck="false"
    ></textarea>
  </form>
</div>
