ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 6px 0;
}

.view {
  padding: 0 16px;
}

table {
  width: 100%;
}

textarea {
  width: 100%;
  height: 120px;
  outline: none !important;
  border: none !important;
  resize: none !important;
}

.mes {
  margin-bottom: 0;
  box-sizing: border-box;
  white-space: pre-wrap;
  display: inline-block;
  background: #9babc9;
  padding: 4px 10px;
  text-align: left;
  border-radius: 5px;
  color: white;
  word-break: break-all;
}

.myself {
  text-align: right;

  .mes {
    background: #b2e281;
    color: #313131;
  }
}

.message-list {
  background: #f6f6f6;
  position: fixed;
  top: 46px;
  right: 0;
  padding: 16px;
  left: 0;
  bottom: 188px;
  overflow: auto;
}

.send-message {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 12px;
  background: white;
  padding-top: 10px;
  border-top: 1px solid #e3e3e3;

  button {
    margin-bottom: 8px;
    margin-right: 8px;
  }
}
