.content {
  padding-top: 46px;
}

.scan {
  margin-right: auto;
  font-size: 25px;
  margin-top: 9px;
  margin-left: 9px;
  cursor: pointer;
  user-select: none;
}

img {
  display: block;
  width: 450px;
  height: 450px;
  margin: auto;
}
