

<div class="clearfix view upload">
  <nz-upload
    #uploadRef
    nzAction="/upload"
    nzListType="picture"
    [nzMultiple]="true"
    nzName="upload"
    [nzData]="{ dir: cache.path }"
    [(nzFileList)]="fileList"
  >
    <button nz-button><i nz-icon nzType="cloud-upload"></i>upload</button>
  </nz-upload>
</div>
<div *ngIf="children.length; else loadingRef">
  <div class="bar view">
    <ul class="btn">
      <li (click)="home()">
        <i nz-icon nzType="home" nzTheme="outline"></i>Home
      </li>
      <li (click)="back()">
        <i nz-icon nzType="rollback" nzTheme="outline"></i>Back
      </li>
    </ul>
    <span class="path">{{ cache.path }}</span>
    <div class="switch">
      <nz-switch
        [ngModel]="style"
        class="style"
        (ngModelChange)="onStyleChange($event)"
        nzCheckedChildren="grid"
        nzUnCheckedChildren="grid"
      ></nz-switch>

      <nz-switch
        [ngModel]="view"
        (ngModelChange)="onViewChange($event)"
        nzCheckedChildren="view"
        nzUnCheckedChildren="view"
      ></nz-switch>
    </div>
  </div>
  <br />
  <ul class="file" [class.grid]="style">
    <li
      *ngFor="let item of children"
      [title]="item.name + '  ' + toSize(item.size)"
    >
      <a
        class="target"
        [class.file]="item.type === fileType"
        (click)="fileClick(item)"
      >
        <i
          nz-icon
          class="flag-icon {{ item.type }}"
          [nzType]="item.type === fileType ? 'file' : 'folder'"
          nzTheme="outline"
        ></i>
        <span class="file-name"> {{ item.name }} {{ toSize(item.size) }}</span>
      </a>
    </li>
  </ul>
</div>

<ng-template #loadingRef>
  <div class="loading-box">
    <i nz-icon nzType="loading" nzTheme="outline"></i>
    <p>loading</p>
  </div>
</ng-template>
