<div *ngIf="fileList.length" class="upload-info">
  <button (click)="clearList()" nz-button>
    <i nz-icon nzType="clear" nzTheme="outline"></i> Clear
  </button>
  <span [class.done]="allDone">{{ uplodInfo() }}</span>
</div>

<div class="clearfix view upload-list" [class.size]="fileList.length">
  <nz-upload
    [nzAction]="uploadUrl"
    nzListType="picture"
    [nzMultiple]="true"
    nzName="upload"
    [nzShowButton]="false"
    (nzChange)="uploadChange($event)"
    [nzData]="{ dir: cache.path }"
    [(nzFileList)]="fileList"
  >
    <a #uploadTaget></a>
  </nz-upload>
</div>

<div *ngIf="!loading; else loadingRef">
  <div class="path">
    <span>{{ cache.path }}</span>
    <button
      (click)="uploadTaget.click()"
      nz-button
      nzType="primary"
      [nzSize]="size"
      nzShape="circle"
    >
      <i nz-icon nzType="cloud-upload"></i>
    </button>
  </div>
  <div class="bar view">
    <ul class="btn">
      <li (click)="home()">
        <i nz-icon nzType="home" nzTheme="outline"></i> Home
      </li>
      <li (click)="back()">
        <i nz-icon nzType="rollback" nzTheme="outline"></i> Back
      </li>
      <li (click)="loadData()">
        <i nz-icon nzType="reload" nzTheme="outline"></i> Reload
      </li>
    </ul>
    <div class="switch">
      <nz-switch
        [ngModel]="gridStyle"
        class="style"
        (ngModelChange)="onStyleChange($event)"
        nzCheckedChildren="Grid"
        nzUnCheckedChildren="Grid"
      ></nz-switch>

      <nz-switch
        [ngModel]="view"
        (ngModelChange)="onViewChange($event)"
        nzCheckedChildren="View"
        nzUnCheckedChildren="View"
      ></nz-switch>
    </div>
  </div>
  <ul class="file-box" [class.list]="!gridStyle" [class.grid]="gridStyle">
    <li
      *ngFor="let item of children"
      [title]="item.name + '  ' + toSize(item.size)"
      class="target"
      [class.file]="item.type === fileType"
    >
      <i
        (click)="fileClick(item)"
        nz-icon
        class="flag-icon {{ item.type }}"
        [nzType]="item.type === fileType ? 'profile' : 'folder'"
        nzTheme="outline"
      ></i>
      <label class="file-name">
        <span (click)="fileClick(item)">{{ item.name }}</span>
      </label>
      <span class="file-size">{{ toSize(item.size) }}</span>
    </li>
  </ul>
</div>

<ng-template #loadingRef>
  <div class="loading-box">
    <i nz-icon nzType="loading" nzTheme="outline"></i>
    <p>loading</p>
  </div>
</ng-template>
