/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.less";

* {
  padding: 0;
  margin: 0;
}

.ant-menu-horizontal {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #ecedf1;
}

ul,
li {
  list-style: none !important;
}
